[user]
  name = Louis Howe
  email = louismhowe@users.noreply.github.com
[color]
  ui = auto
[core]
  editor = vim
[diff]
  tool = kdiff3
  mnemonicprefix = true
  algorithm = patience
[merge]
  tool = kdiff3
[alias]
  st = status -sb
  sti = status -sb --ignored
  sh = show --stat --oneline
  lsf = ls-files
  br = branch
  bra = branch -a
  d = diff
  dc = diff --cached
  dt = difftool -d
  dtc = difftool -d --cached
  mt = mergetool
  l = log --decorate --pretty=oneline --abbrev-commit
  la = log --decorate --pretty=oneline --abbrev-commit --all
  lg = log --graph --decorate --pretty=oneline --abbrev-commit
  lga = log --graph --decorate --pretty=oneline --abbrev-commit --all
  lp = log -p --graph
  rc = rebase --continue
  rs = rebase --skip
  r = remote -v
