[user]
  name = Louis Howe
  email = louismhowe@users.noreply.github.com
[color]
  ui = auto
[core]
  editor = vim
[diff]
  tool = kdiff3
  mnemonicprefix = true
  algorithm = patience
[merge]
  tool = kdiff3
[push]
  default = simple
[alias]
  st = status -sb
  sti = status -sb --ignored
  sh = show --stat --oneline
  lsf = ls-files
  br = branch -vv
  bra = branch -avv
  d = diff
  dc = diff --cached
  dt = difftool -d --no-symlinks
  dtc = difftool -d --cached --no-symlinks
  mt = mergetool
  mm = merge --no-commit --no-ff
  l = log --decorate --pretty=oneline --abbrev-commit --tags
  lp = log --decorate --pretty=oneline --abbrev-commit --tags --patch
  ls = log --decorate --pretty=oneline --abbrev-commit --tags -stat
  la = log --decorate --pretty=oneline --abbrev-commit --all
  las = log --decorate --pretty=oneline --abbrev-commit --all --stat
  lg = log --graph --decorate --full-history --pretty=oneline --abbrev-commit
  lga = log --graph --decorate --full-history --pretty=oneline --abbrev-commit --all
  lgp = log --graph --patch
  lgs = log --graph --stat
  lgas = log --graph --decorate --pretty=oneline --abbrev-commit --all --stat
  rc = rebase --continue
  rs = rebase --skip
  cp = cherry-pick
  r = remote -v
  rs = remote show
  rsn = remote show -n
